In [1]:
import numpy as np
import pandas as pd

In [2]:
New_df = pd.read_csv("/home/rabi/Desktop/Project/NLP/Fresh_Restaurant_Reviews.tsv",sep='\t')

In [3]:
New_df.head()

                                              Review
0                        Spend your money elsewhere.
1  Their regular toasted bread was equally satisf...
2  The Buffet at Bellagio was far from what I ant...
3                   And the drinks are WEAK, people!
4                         -My order was not correct.

In [6]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import pickle

corpus = []
# Determine the number of rows in New_df
num_rows = len(New_df)

for i in range(num_rows):
    review = re.sub('[^a-zA-Z]', ' ', New_df['Review'][i])
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [8]:
# Creating the Bag of Words model using CountVectorizer

from sklearn.feature_extraction.text import CountVectorizer
import pickle
cvFile='bow_dictionary.pkl'
cv = pickle.load(open(cvFile, "rb"))
X_fresh = cv.transform(corpus).toarray()
X_fresh.shape

(100, 1500)

In [10]:
import joblib
classifier = joblib.load('Classifier_Sentiment_Model')

In [11]:
y_pred = classifier.predict(X_fresh)
print(y_pred)

[0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [13]:
New_df['predicted_label'] = y_pred.tolist()
New_df.head()

                                              Review  predicted_label
0                        Spend your money elsewhere.                0
1  Their regular toasted bread was equally satisf...                1
2  The Buffet at Bellagio was far from what I ant...                1
3                   And the drinks are WEAK, people!                0
4                         -My order was not correct.                0

In [14]:
New_df.to_csv("Predicted_Sentiments_Analysis_data.tsv", sep='\t', encoding='UTF-8', index=False)